/************************ sbDraggable ************************/

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.sb-dragging-start {
    opacity: 0.4;
}

.sb-dragging-over {
    border-top: 2px solid #ea6b3387;
}


/********************** End sbDragable **********************/
